.matchContainer {
	width:70%;
	height:auto;
	background-color: cyan;
	margin: 0 auto 20px;
	padding: 15px;
	min-width: 600px;
}
.gameAddress {
	font-size: 40px;
}
.host {
	font-size: 20px;
}
.gameTime {
	font-size: 20px;
}
.additionalComments {
	font-size: 15px;
}
.rsvp button{
	background-image: none;
	background-color: blue;
	color: white;
	border: 2px solid white;
}
.mapContainer {
	height: 500px;
	width: 90%;
	background-color: grey;
	margin: 0 auto;
}
.map-canvas {
	height: 100%;
	width:100%;
	margin:0;
	padding:0;
}
.addPlayerComment {
	width:90%;
	margin: 0 auto;
}