<div class="matchContainer">
	<div class="matchInformation">
		<div class="gameAddress">Location: {{ item.match.location }}, {{item.match.city}}</div>
		<div class="host">Host: {{ item.user }}</div>
		<div class="host">Game type: {{item.match.sport}}  {{item.match.game}}</div>
		<div class="gameTime">Time: {{ item.match.date | date:'MMM dd, yyyy h:mm a' }}</div>
		<div class="additionalDetails">Additional Details: {{ item.match.additionalDetails }}</div>
		<div ng-show="loggedIn" class='rsvp'>
			<button type='button' class='btn btn-default btn-lg' ng-click='addRsvp()'>RSVP</button>
		</div>	
		<div class="attend">Whose going: {{item.match.rsvp}}</div>
	</div>
	
	<br />
	<div class="mapContainer">
		<iframe
	  		frameborder="0" style="border:0"
	  		src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZ8sfZZI9FGmS4-kgf439jbd2emnzwAqw&q=Mitchell Hollow Park">
		</iframe>
	</div>
	<br />
	<div class='weatherContainer'>
		<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=40.4198184&lon=-111.8132986&name=Highland, Utah">
		</iframe>
	</div>
	<br />
	<div class="addPlayerComment">
		<form ng-submit="addComment()">
			<label>Comments:</label>
			<textarea class="form-control" rows="3" ng-model="comment.comment"placeholder="Write something..."></textarea>
			<button type='submit' class='btn btn-default'>Comment</button>
		</form>
	</div>
	<br />
	<div class="postedComment" ng-repeat="comments in addedcomments">
		<div> {{ comments.username }}: </div>
		<div> {{ comments.comment }} </div>
		<div class="timeStamp"> {{ comments.date }}</div>
	</div>
</div>