<div class="matchContainer">
	<div class="matchInformation">
		<div class="gameAddress">Location: {{ item.location }}, {{item.city}}</div>
		<div class="host">Host: {{ user.name }}</div>
		<div class="gameTime">Time: {{ item.date | date:'MMM dd, yyyy h:mm a' }}</div>
		<div class="additionalDetails">Additional Details: {{ item.additionalDetails }}</div>
		<div class='rsvp'>
			<button type='button' class='btn btn-default btn-lg' ng-click=''>RSVP</button>
			<div class="attend">Whose going: | 1</div>
		</div>
	</div>
	
	<br />
	<div class="mapContainer">
		<iframe
	  		frameborder="0" style="border:0"
	  		ng-src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBZ8sfZZI9FGmS4-kgf439jbd2emnzwAqw
	    	&q=Mitchell Hollow Park"><!--{{item.location}} {{item.city}} {{item.state}}-->
		</iframe>
	</div>
	<br />
	<div class='weatherContainer'>
		<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=40.4198184&lon=-111.8132986&name=Highland, Utah">
		</iframe>
	</div>
	<br />
	<div class="addPlayerComment">
		<form>
			<label>Comments:</label>
			<textarea class="form-control" rows="3" ng-model="matchView.comments"placeholder="Write something..."></textarea>
			<button type='submit' class='btn btn-default'>Comment</button>
		</form>
	</div>
	<br />
	<div class="postedComment">
		<div> {{ user.name }}: </div>
		<div> {{ comment.comment }} </div>
		<div class="timeStamp"> {{ createdAt.date }}</div>
	</div>
</div>