.createAccountForm {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: grey;
	padding: 15px;
	color: white;
}
.createAccountForm div{
	margin: 20px 0;
}
.checkbox label{
	margin: 10px 20px 0;
}
.createCancel {
	margin-left: 20px;
	font-size: 15px;
	color: white;
}