.matchContainer {
	width:90%;
	height:auto;
	background-color: grey;
	margin: 0 auto 20px;
	padding: 15px;
	min-width: 600px;
	color: white;
}
.gameAddress {
	font-size: 40px;
}
.host {
	font-size: 20px;
}
.gameTime {
	font-size: 20px;
}
.additionalComments {
	font-size: 15px;
}
.rsvp button{
	background-image: none;
	background-color: #5CB0FB;
	color: white;
	border: 1px solid white;
}
.attend{
	float: right;
	font-size: 18px;
	margin-top: 8px;
	color: #5CB0FB;
}
.weatherContainer {
	height:245px;
	width: 90%;
	margin: 0 auto;
	background-color: #eeeeee;
}
iframe {
	height:100%;
	width:100%;
}
.mapContainer {
	height: 500px;
	width: 90%;
	margin: 0 auto;
}
.addPlayerComment {
	width:90%;
	margin: 0 auto;
	max-width: 90%;
}
.addPlayerComment button{
	margin: 3px auto;
	float: right;
}
.postedComment {
	width:90%;
	margin: 10px auto;
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid white;
}
.timeStamp {
	text-align: right;
}