.orgMatchContainer {
	width: 100%;
	height: auto;
	margin: 0 auto 20px;
	background-color: grey;
	padding: 20px;
	min-width: 280px;
}
.orgMatchContainer h1 {
	color: white;
}
label{
	margin-top: 5px;
}
.orgMatchContainer label {
	color:white;
}
.orgTimeSet {
	margin-left: 15px;
}
.orgMatchCancel {
	margin-left: 20px;
	font-size: 15px;
	color: white;
}
.dateInput {
	padding: 7px 0;
}
@media (max-width: 422px){
	.dateInput {
		display: block;
	}
	.orgTimeSet {
		margin: 0;
		display:block;
	}
}